@import "../../vendor/bootstrap/less/variables";
@import "variables";
@import "bootstrap";



html {
    font-family: @font-family-base;
    font-size: 18px;
    color: @text-color;
    line-height: 1.4;
}

#p5 {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10000;
}

#content-container {
    padding: 0 30px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media(min-width: @screen-sm-min) {
        padding: 0;
        width: 620px;
        margin: auto;
        
        @media(min-width: @screen-md-min) {
            margin-top: 150px;
        }
    }


    header#page-header {
        h1 {
            font-weight: 900;
            color: @title-color;
            font-size: 2rem;
            line-height: 1;

            @media(min-width: @screen-sm-min) {
                font-size: 3.5rem;
            }
        }
    }

    #content {
        -webkit-columns: 300px 2;
        -moz-columns: 300px 2;
        columns: 300px 2;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: @link-color;
        font-weight: 900;

        &:hover {
            //color: @brand-primary;
            border-bottom: solid @link-color 3px;
        }
    }
}